body, html {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100%;
  box-sizing: border-box !important;
}

/* CONTAINER */

.container {
  margin: 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  flex-direction: column;
}

.container-nav {
  margin: 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 25px !important;

  }
  h2 {
    font-size: 20px;
  }
  form {
    width: 100%;
    height: auto;
  }
  .columns {
    display: block !important;
  };
}
@media screen and (min-width: 1024px) {
  .container, .container-nav {
    max-width: 960px;
  }
}
@media screen and (min-width: 1216px) {
  .container, .container-nav {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1408px) {
  .container, .container-nav {
    max-width: 1344px;
  }
}

.columns-titel {
  width: 75%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in;
}
a:hover {
  color: #7510F7;
}


/* NAV */

.navbar {
  padding: 1.2rem 0;
  min-height: 3.25rem;
  margin: auto;
  border-bottom: 1px solid #E6ECF8;
}

.navbar-brand .bx {
  font-size: 50px;
  color: #7510F7;
  padding: 0.5rem 0.75rem;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item {
  cursor: pointer;
  font-weight: 300;
  padding: 0.5rem 0.75rem;
  color: #141c3a;
}

.button  {
  padding: 0.5rem 1.2rem;
  margin: 30px 0 80px;
  font-weight: 400;
  font-size: 18px;
  color: #7510F7;
  border-width: 2px;
  border-color: #7510F7;
  background-color: #fff;
  border-radius: 50px;
  border-style: solid;
  height: 45px;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  width: 25%;
}

.button:hover {
  color: #fff;
  background-color: #7510F7;
}

/* Main -- Form */

.avatar {
  width: 84px;
  margin: -50px auto 50px;
}

h1 {
  font-weight: 300;
  color: #141c3a;
  line-height: 1.125;
  font-size: 2.2rem;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
  display: ;
}

#contact-form {
  max-width: 640px;;
  width: 100%
}

.columns {
  display: flex;
  align-items: center;
  flex-direction: row;

}

form .column {
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  width: 100%;
}

.form-message {
  width: 640px;
}
.input {
  width: 100%;
}
input:required {
  box-shadow: none;
}

input {
  padding: calc(0.75em - 1px);
}


label {
  margin-bottom: 0.5rem;
  color: rgba(41, 51, 71, 0.65);
  font-size: 1.05rem;
}

textarea {
  width: 100%;
}

#thank-you-message {
  display: none;
  margin-top: 100px;
}

#thank-you-message.show {
  display: block;
}





/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #E6ECF8;
}
::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}