//***********************************************
// Import 1-helpers
@use "1-helpers/variables" as v;
//***********************************************


//***********************************************
// Import 2-tools

//***********************************************


//***********************************************
// Import 3-basics
@use "3-basics/buttons";
@use "3-basics/base";
@use "3-basics/typography";
@use "3-basics/links";
//***********************************************


//***********************************************
// Import 4-layouts
@use "4-layouts/navbar";
//***********************************************



//***********************************************
// Import 5-modules

//***********************************************



//***********************************************
// Import 6-pages
@use "6-pages/home";
@use "6-pages/dashboard";
@use "6-pages/contact";
//***********************************************








/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #E6ECF8;
}
::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}





