@import url("https://use.typekit.net/soj4qgo.css");
.button {
  padding: 0.5rem 1.2rem;
  font-weight: 400;
  font-size: 18px;
  color: #7510F7;
  background: white;
  border-width: 2px;
  border-color: #7510F7;
  border-radius: 50px;
  border-style: solid;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.button:hover {
  color: #fff;
  background-color: #7510F7;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "europa", sans-serif;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container--nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.column {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.75rem;
  width: 100%;
}

.padding {
  padding: 70px 45px;
}

.text_align {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  color: black;
  margin-bottom: 1.5rem;
}

.ondertitel {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
}

.list_title {
  margin-top: 50px;
  margin-bottom: 8px;
  font-weight: 400;
  color: #7510F7;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
a:hover {
  color: #7510F7;
}

.navbar {
  padding: 1.2rem 0;
  min-height: 3.25rem;
  margin: auto;
  max-width: 1350px;
}
.navbar .bx {
  font-size: 50px;
  color: #7510F7;
  padding: 0.5rem 0.75rem;
}
.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__item {
  cursor: pointer;
  font-weight: 300;
  padding: 0.5rem 0.75rem;
  color: #141c3a;
}
.navbar__brand {
  padding: 0.5rem 0.75rem;
}

.form {
  width: 100%;
  text-align: center;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}
.form .column {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form .column label, .form .column input {
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: start;
}
.form h1 {
  font-size: 2rem;
  font-weight: 400;
}
.form .avatar {
  width: 84px;
  margin: -50px auto 50px;
}
.form #contact-form {
  max-width: 640px;
  width: 100%;
}
.form .form-message {
  width: 640px;
}
.form .input {
  width: 100%;
  padding: calc(0.75em - 1px);
}
.form .input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form label {
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
  color: rgba(41, 51, 71, 0.65);
  text-align: left;
}
.form textarea {
  width: 100%;
}
.form .button {
  margin-top: 22px;
}
.form #thank-you-message {
  display: none;
  margin-top: 100px;
}
.form #thank-you-message.show {
  display: block;
}

@media screen and (max-width: 1023px) {
  .columns {
    display: block;
  }
}
.skills {
  margin-top: -12rem;
}
.skills figure {
  margin: 0 auto 2em;
}
.skills li {
  font-weight: 100;
}
.skills ul {
  list-style: none;
}
.skills .column {
  border-bottom: 0px solid #E6ECF8;
  border-right: 1px solid #E6ECF8;
}
.skills .no-border {
  border: none !important;
}

@media screen and (min-width: 1024px) {
  .skills .conatiner {
    max-width: 960px;
  }
}
@media screen and (min-width: 1216px) {
  .skills .container {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1408px) {
  .skills .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1023px) {
  .skills .container--is_smal {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .skills .box {
    width: 90%;
  }
  .skills .column {
    border-bottom: 1px solid #E6ECF8;
    border-right: 0px solid #E6ECF8;
  }
  .skills .no-border {
    border: none !important;
  }
}
.box {
  background-color: white;
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  color: #141c3a;
  display: block;
  border-radius: 22px;
}

@media screen and (min-width: 1024px) {
  .hallo .container {
    width: 60%;
  }
}
@media screen and (min-width: 1408px) {
  .hallo .container {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .hallo .container {
    width: 90%;
  }
}
.hero {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avatar {
  margin: 2rem 0;
  width: 210px;
}

.hero-body {
  padding: 3rem 1.5rem;
}

.is-bottom {
  text-align: center;
  width: 75%;
  margin-bottom: 0;
  max-width: 860px;
}

/* HALLO BERICHT */
.hallo {
  background-color: #7510F7;
  color: #fff;
  padding: 9rem 1.5rem 18rem 1.5rem;
}

.contact .form {
  border-top: 1px solid #E6ECF8;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}
/*# sourceMappingURL=main.css.map */