/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.button {
  padding: 0.5rem 1.2rem;
  font-weight: 400;
  font-size: 18px;
  color: #7510F7;
  border-width: 2px;
  border-color: #7510F7;
  border-radius: 50px;
  border-style: solid;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button:hover {
  color: #fff;
  background-color: #7510F7;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
}

* *:before *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-nav {
  margin: 0 auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .container, .container-nav {
    max-width: 960px;
  }
}
@media screen and (min-width: 1216px) {
  .container, .container-nav {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1408px) {
  .container, .container-nav {
    max-width: 1344px;
  }
}
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 25px !important;
  }

  h2 {
    font-size: 15px;
  }
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
a:hover {
  color: #7510F7;
}

.navbar {
  padding: 1.2rem 0;
  min-height: 3.25rem;
  margin: auto;
}
.navbar .bx {
  font-size: 50px;
  color: #7510F7;
  padding: 0.5rem 0.75rem;
}
.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__item {
  cursor: pointer;
  font-weight: 300;
  padding: 0.5rem 0.75rem;
  color: #141c3a;
}

.hero {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-body {
  padding: 3rem 1.5rem;
}

.column {
  padding: 0.75rem;
  text-align: center;
}

h1, h2 {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-weight: 300;
  line-height: 1.5;
}

img {
  margin: 2rem 0;
  width: 210px;
}

.is-bottom {
  text-align: center;
  width: 75%;
  margin-bottom: 0;
  max-width: 860px;
}

/* HALLO BERICHT */
.hallo {
  background-color: #7510F7;
  color: #fff;
  padding: 9rem 1.5rem;
}

.title {
  font-size: 2rem !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}
/*# sourceMappingURL=main.css.map */