//***********************************************
// Import 1-helpers
@use "../3-basics/buttons";
@use "../3-basics/base";
@use "../3-basics/typography";
@use "../3-basics/links";
//***********************************************

  
  
form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
    h1 {
        font-weight: 300;
        color: #141c3a;
        line-height: 1.125;
        font-size: 2.2rem;
    }
    .avatar-small {
        width: 84px;
        margin: -50px auto 50px;
    }
    .columns {
        display: flex;
        align-items: center;
        flex-direction: row;
      
    }
    .column {
        text-align: start;
        display: flex;
        flex-direction: column;
        padding: 0.75rem;
        width: 100%;
    }
}
  
#contact-form {
    max-width: 640px;;
    width: 100%
}
  

  
.form-message {
    width: 640px;
}
.input {
    width: 100%;
    padding: calc(0.75em - 1px);
    &:required {
      box-shadow: none;
    }
}
  
  
  
label {
    margin-bottom: 0.5rem;
    color: rgba(41, 51, 71, 0.65);
    font-size: 1.05rem;
}
  
textarea {
    width: 100%;
}
  
#thank-you-message {
    display: none;
    margin-top: 100px;
  }
  
#thank-you-message.show {
    display: block;
}