//***********************************************
// Import 1-helpers
@use "../1-helpers/variables" as v;
//***********************************************


//***********************************************
// Import 2-tools

//***********************************************


//***********************************************
// Import 3-basics
@use "../3-basics/buttons";
@use "../3-basics/base";
@use "../3-basics/typography";
@use "../3-basics/links";
//***********************************************


//***********************************************
// Import 4-layouts
@use "../4-layouts/navbar";
//***********************************************


.form {
  width: 100%;
  text-align: center;
  transition: all 4s ease-in-out;

  .column {
    justify-content: center;
    label, input {
      width: 100%;
      align-items: start;
      text-align: start;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  .avatar {
    width: 84px;
    margin: -50px auto 50px;
  }
  #contact-form {
    max-width: 640px;
    width: 100%
  }
    
  .form-message {
    width: 640px;
  }
  .input {
    width: 100%;
    padding: calc(0.75em - 1px);

    &:required {
      box-shadow: none;
    }
  }
    
  label {
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
    color: rgba(41, 51, 71, 0.65);
    text-align: left;
  }
    
  textarea {
    width: 100%;
  }

  .button {
    margin-top: 22px;
  }
    
  #thank-you-message {
    display: none;
    margin-top: 100px;
  }
    
  #thank-you-message.show {
    display: block;
  }
    
}

@media screen and (min-width: 1024px) {

 }
@media screen and (min-width: 1216px) {

}
 @media screen and (min-width: 1408px) {

}
@media screen and (max-width: 1023px) {
    .columns {
        display: block;
    }
}

  
  
