//***********************************************
// Import 1-helpers
@use "../1-helpers/variables" as v;
//***********************************************


//***********************************************
// Import 2-tools

//***********************************************


//***********************************************
// Import 3-basics
@use "../3-basics/buttons";
@use "../3-basics/base";
@use "../3-basics/typography";
@use "../3-basics/links";
//***********************************************


//***********************************************
// Import 4-layouts
@use "../4-layouts/navbar";
//***********************************************

.box {
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    color: #141c3a;
    display: block; 
    border-radius: 22px;
}
  
@media screen and (min-width: 1024px) {
    .hallo {
      .container {
        width: 60%;
      }
    }
}

@media screen and (min-width: 1408px) {
    .hallo {
      .container {
        width: 50%;
      }
    }
}

// MOBIEL//
@media screen and (max-width: 1023px) {
    .hallo {
        .container {
          width: 90%;
        }
    }
}


